@laker rc file Version 1.0
[Library]
CHIP = /home/wei/git/icc_template/merge/CHIP.lib++
[DataManagement]
DMToolType = unknown
DMServerHost = localhost
DMServerPort = 80
DMAutoCheckOutCV = Prompt
DMAutoCheckInCV = Prompt
DMAutoCheckOutInFile = Prompt
DMAutoExcludeViewName = 
[DisabledMessages]
version = 2015.03
[Form]
version = 2015.03
leoMasterWnd.fm = 981,172,905,679
openfile.fm = 100,100,723,529
leoImport.fm = 451,168,404,708
leoExport.fm = 330,267,469,723
shareOpenDsg.fm = 100,137,734,381
leoDsgWnd.fm = 1080,40,1383,922
[General]
KeepEnvValInRc = TRUE
SyncDir = FALSE
AutoSyncLibMapFile = FALSE
[GridSetting]
CHIP = 0.001 0.05 0.05 2 1 
[ImportExport]
ImportFileFilter = *.db;*.gds;*.gz;*.Z
DefaultTechnologyFile = /home/wei/git/icc_template/merge/G-DF-MIXED_MODE_RFCMOS18-1.8V_3.3V-1P6M-20K-MMC-LAKER-TF-2.11-P1.tf
ImportNewLibWithTechFile = TRUE
ImportReplaceExistTF = FALSE
ImportCaseSensitivity = Preserve
ImportLabelCase = Preserve
ImportStreamRenameMode = overwrite
ImportInstNameAsProp = TRUE
ImportInstNameAsPropNumber = 102
ImportNetNameAsProp = TRUE
ImportNetNameAsPropNumber = 102
ImportLogicInfoAsProp = FALSE
ImportLogicInfoAsPropNumber = 103
ImportMcellAsProp = FALSE
ImportMcellAsPropNumber = 104
ImportMcellIgnoreConflictMcell = FALSE
ImportPCell = FALSE
ImportSnapXYToResolution = FALSE
ImportDumpDesignTree = FALSE
ImportSaveInfoMsgToLogFile = FALSE
ImportSkipOver200VertexWarn = FALSE
ImportRefOtherLib = FALSE
ImportStreamInLayerOnly = FALSE
ImportCorrectNon90Inst = TRUE
ImportFilterPolyPath = FALSE
ImportLogInstLocation = FALSE
ImportRptZeroNegArrayPitch = FALSE
ImportLayerMapMode = Map
ImportGdsIgnoreDupLayerMap = FALSE
ImportForkChildProcess = FALSE
ImportLogErrorFile = 
ImportLayerMapFile = 
ImportCellMapFile = 
ImportFontMapFile = 
ImportPropMapFile = 
ImportRefLibList = *
ExportCaseSensitivity = Preserve
ExportTextCaseSensitivity = Preserve
ExportRenameMode = TRUE
ExportDuplicatedCellsAppend = library
ExportLogErrorFile = 
ExportLayerMapFile = 
ExportCellMapFile = 
ExportFontMapFile = 
ExportPropMapFile = 
ExportMaxCellNameLength = FALSE
ExportMaxCellNameLengthNumber = 32
ExportLevelRange = FALSE
ExportLevelRangeValue = 0-49
ExportInstNameToProp = FALSE
ExportInstNameToPropNumber = 102
ExportNetNameToProp = FALSE
ExportNetNameToPropNumber = 102
ExportLogicInfoToProp = FALSE
ExportLogicInfoToPropNumber = 103
ExportMcellToProp = FALSE
ExportMcellToPropNumber = 104
MaxVerticesInPathPoly = 1024
MergeReferenceLibrary = TRUE
ExportSnapXYToResolution = FALSE
ExportDumpDesignTree = FALSE
ExportLogInstLocation = FALSE
ExportRptZeroNegArrayPitch = FALSE
ExportSaveInfoMsgToLogFile = FALSE
ExportSkipOver200VertexWarn = FALSE
ExportFilterPolyPath = FALSE
ExportFilterText = FALSE
ExportFilterDummyCell = FALSE
ExportFilterDummyInst = FALSE
ExportRenameModifiedPCell = FALSE
ExportFilterSystemPin = TRUE
ExportPolygonText = FALSE
ExportPathToPolygon = FALSE
ExportPurposeMap = TRUE
ExportPCell = FALSE
ExportDesignIntention = FALSE
ExportDILayerMapFile = 
ExportDIIncludeOriginLayers = TRUE
ExportForkChildProcess = FALSE
ExportCon3Layer = FALSE
ExportSmashPDevice = FALSE
ExportLayerMapMode = Map
ExportAbsCellView = Off
SmashMcell = ExpCont
[Initial]
SnapCursorToMask = FALSE
SnapCursorToTrack = FALSE
SnapCursorToRow = FALSE
DisplayGrid = TRUE
DisplayTrack = FALSE
DisplayRow = TRUE
SnapContactCenterGrid = FALSE
SnapCursorToMinorGridNum = 1.0
SnapCursorToMinorGrid = FALSE
SnapUserInputCoordinate = FALSE
[LeoEdit]
SortDeviceNameList = FALSE
AreaSelectBy = Rectangle
AreaCondition = Enclose
[LeoPreference]
UserDispFile = 
VirtualTop = FALSE
VirtualTopStr = 
HierarchyDelimiter = /
SelectInfo = "%N [%Z Netname=%Z ][%I %I=][%M Lib(%b) Cell(%M) View(%w)][ %L layer=%L(%l)][ %P purpose=%P(%p)][%R Actual Layer %R(%Q)]"
RuleDrivenMode = NormalMode
ReboundingDistance = 40
DisplayingDistance = 80
DistanceUpperBound = 1.000000
AutoBackup = 1
AutoSave = 0
MajorGridSize = 1
MinorGridSize = 1
MinorGridMinWidth = 10
MajorGridMinWidth = 10
StretchLockMode = 1
TextDrafting = TRUE
StretchBBoxShowRuler = TRUE
StretchPathShowLength = FALSE
ShowOrientSymbol = TRUE
ShowInstanceOrigin = FALSE
OpenTopLevelOnly = FALSE
ShowMCellInfo = FALSE
ShowMCellNetInfo = FALSE
ShowMCellInfoFormat = "%N(%M) %b [%G %L/%W %G][%R %L/%W %R][%C %C] "
ZoomOutByMouse = FALSE
ShowRulerWithMinResolution = FALSE
SelectTextBorder = TRUE
PreSelTextBorder = TRUE
ShowTextOrigin = TRUE
ArrayShowBorderOnly = FALSE
InstRubberBandBorderOnly = FALSE
ShowMasterName = TRUE
SysPinWithSysOutline = TRUE
SysPinWithSysStipple = FALSE
ShowAxisType = 1
LegacyErrorViewer = FALSE
AutoPopupForm = FALSE
EditContinuesIfNothingSelect = TRUE
ShapeSelfIntersecting = FALSE
PolygonStretchToLine = FALSE
DeleteShapeVertex = FALSE
LayerTbChgRedraw = FALSE
TransistorChainPlace = TRUE
SchematicTopologyPlace = FALSE
OverridePinDeviceSwapping = TRUE
ShowWarnMsgWindow = TRUE
AutoCreateSoftPin = TRUE
IncrementalDRC = FALSE
IncrementalRouter = TRUE
OffGridRouter = FALSE
NoTruncateAtPathIntersection = FALSE
ShowCurrentErrorOnly = FALSE
RaiseWndAsHighlightRVE = FALSE
ShowCurrentLVSErrOnly = FALSE
GravityCorner = TRUE
GravityMidLine = TRUE
GravityOutLine = FALSE
GravityPathLine = FALSE
GravityPathEnds = TRUE
GravityCenter = FALSE
GravityDeeps = 1
GravityRadius = 0.3
SnapRowRadius = 0.3
RulerMarkArrowHead = 1
RulerTypeFontHeight = 1.0
RulerTypeFont = Modern
DimensionMarkUnit = None
UndoLimits = 5
UndoObjLimits = 50
EllipseSides = 20
DonutSides = 20
ArcSides = 8
DrawingFilterLevel = 2
DrawingObjectMapCount = 25000
SummaryObjectLimit = 1000
PopupStickAtLeastGroups = 1
DRCShowZoomInRatio = 1
DRCLoadErrorMax = 0
RVE_DrawingLevel = 0
RVE_StartingPath = 
SelectMode = 1
DeletePathWithConnectedVia = FALSE
EnableStrokeKey = FALSE
StrokeKeyRadius = 0
RightClickCommandMenu = TRUE
EnableDevObjMode = FALSE
AutoGrouping = FALSE
SelInsideGroup = TRUE
AlwaysConfirmEIPSave = FALSE
SyncCellUponEIP = FALSE
UpdateHierCVBBox = FALSE
AbutControlPCell = 
CanAbutDevice = FALSE
CanStretchDevice = FALSE
EnablePushWire = TRUE
ShowLayerAliasName = FALSE
ShowStreamNumber = FALSE
ShowAlwaysReEvaluateDevice = TRUE
ShowNetNameTip = FALSE
CreateSnapMode = 2
EditSnapMode = 2
FavoriteEditor = 3
EnableConnEdit = FALSE
MAXConnEditCount = 3
OnLineExtractorShortCheck = TRUE
OnLineExtractorPropagation = TRUE
OnLineExtractorFlyLineSelectorUpdate = TRUE
ShowFlightLineBySelection = TRUE
OnLineIgnoreInstGlobalFlightLine = FALSE
OnLineIgnoreGlobalFlightLine = FALSE
OnLineIgnoreSpecifyFlightLine = FALSE
OnLineIgnoreSpecifyFlightLineName = VDD VSS GND
OnLineExtractorFlyLineShowMerge = TRUE
MaxFlightLinesByNet = 100
OnLineMaximumFlightLineNo = 1000
OnLineMaximumPropagationNo = 3000
DraglineDisplayStyle = nearest
FlightLineDisplayStyle = vv
FlightLineMode = wireplan
P2PSheetResFile = 
IoSkipWarnNo = 100
BeepAfterIO = FALSE
ExpFileAsCellName = FALSE
ExpFileSuffixStream = FALSE
ExpFileSuffixStreamString = .gds
ExpFileSuffixASCII = FALSE
ExpFileSuffixASCIIString = .asc
ExpFileSuffixLEF = FALSE
ExpFileSuffixLEFString = .lef
ExpFileSuffixDEF = FALSE
ExpFileSuffixDEFString = .def
IoDefaultDirectory = 
IllZeroSqrMenRect = TRUE
IllLess4PointPolygon = TRUE
IllOpenPolygon = TRUE
IllReentrantPolygon = TRUE
IllZeroWidthPath = TRUE
IoReportSelfIntersectingPolygons = FALSE
IllFlashPath = TRUE
IllDetailChecking = FALSE
BrowserPath = 
DocumentPath = 
CompanyInfoPath = 
PreSelTolerance = 0
SysPinWndWidth = 0
SysPinWndHeight = 0
MaxTraversing = TRUE
MaxTraverseNum = 50
CheckSchTimeStampWhenOpen = FALSE
AutoCheckSchTimeStamp = FALSE
AutoCheckSchTimeStampInterval = 0
HighLightZoomIn = TRUE
HighLightObjPathWidth = 1
ResistorSegNum = 5
ContactJustification = CenterCenter
GuardRingJustification = Center
StackedPathJustification = Center
SetTransistorOriginOffsetX = FALSE
SetTransistorOriginOffsetY = FALSE
SetResistorOriginOffsetX = FALSE
SetResistorOriginOffsetY = FALSE
SetCapacitorOriginOffsetX = FALSE
SetCapacitorOriginOffsetY = FALSE
SetContactOriginOffsetX = FALSE
SetContactOriginOffsetY = FALSE
SetGuardRingOriginOffsetX = FALSE
SetGuardRingOriginOffsetY = FALSE
SetContactJust = FALSE
SetGuardRingJust = FALSE
SetGuardRingAlignCenterLine = FALSE
SetStackedPathJust = FALSE
DummyGateNumbers = 2 1 1
DummyGateUserDefinedLength = 
DummyGateInnerTolerance = 0.0
DummyGateLengthType = AdjacentNarrower
DeleteTxDummyKeepGatePositon = TRUE
DeleteTxDummyOptimizeOD = FALSE
KeepCreateTxValue = FALSE
DiscreteGatePitch = FALSE
UseRuleSwitchDefault = FALSE
AutoMergeSplitTx = FALSE
ShiftMCellOrigin = FALSE
CompactObjectType_Rectangle = 1
CompactObjectType_Polygon = 1
CompactObjectType_Transistor = 1
UDDHighlightTarget = all
UDDHighlightEdge = nonAct
UDDHighlightBool = OR
ReleaseTlrCTRouteLimitation = FALSE
LayerNameLength = 5
ToolTipMaxChars = 32
PurposeStartCount = 1
AlignSpacingRuleVal = 
CreatePathRuleVal = 
EIPDimNeighbor = FALSE
DimColorLevel = 2
ReadOnlyOpenWarning = FALSE
TurnOnPnR = FALSE
MessageLineNum = 1
DRCOperMode = RuleDriven
SetMaxDrawBoundary = FALSE
ReduceMCell = FALSE
ReduceDevice = FALSE
SetOpenDsgCatg = FALSE
SetOpenCellViewList = TRUE
OpenBrowserWidth = 203 0 302 203
OpenCellCVMode = 1
[LeoWnd]
layertblpos = 0
dsgwndsize = 1383 922
[SourceTcl]
[TclShell]
nLineSize = 50
